body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.img-container img{
  width: 100px;
  height: 70px;
  filter: grayscale(100%);
}
.form-control{
width: 300px !important;
}
.footer_card{
  position: relative;
bottom: 1.2rem;
  width: 80%;
  background-color: #edf2fb;
  color: black;
}
.contact{
  text-decoration: none;
  color: white;

}
.container{
  min-height: 50vh;
}
.card-anime {
  position: relative;
  overflow: hidden; /* Ensure content doesn't overflow during animation */
}

.card-anime::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Initial position off-screen to the left */
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.card-anime:hover::before {
  transform: translateX(100%); /* Slide from left to right on hover */
}
.card-anime img {
  transition: transform 1s ease; /* Add transition for smooth scaling */
}

.card-anime img:hover {
  transform: scale(1.1); /* Scale up to 110% on hover */
}
.clrbtn{
  width: 30px;
  height: 30px;
  font-size: 12px;
  border-radius: 50%;
  margin:0 10px;
  border:none;
  outline: none;
  opacity: 0.5;
  color: white;
  &:hover{
    opacity: 1;
  }
}
.active{
  
  opacity: 1;
}
.grid_btn{
  min-width: 40px !important;
  padding: 0  !important;
  margin: 0 !important;
  height: 40px;
  font-size: 1.1rem !important;
  background: #edede9 !important;
  color: black !important;
}
.grid_btn.active{
  background: black !important;
  color: white !important;
}

.input{
  outline: none;
  border:  0.5px solid #ccc;
  height: 35px;
  border-radius: 5px;
  padding-left:10px ;
  width: 100%;
}
.input:focus{
  outline: 3px solid #0d6efd;
  box-shadow: 0 0 10px #0d6efd;
  opacity: 0.5;
}
.all_btn{
  background-color: transparent;
  border: none;
  outline: none;
}
.category{
  font-size: 10px !important;
}

@media only screen and (max-width: 994px) {
  .clrbtn{
    margin: auto 1px;
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
  .input{
    font-size: 10px;
  }
}
@media only screen and (max-width: 754px) {
  .category{
    font-size: 10px !important;
  }
}